In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


dict={
    'name':['bhanu','ramu','vishnu'],
    'place':['etah','warangal','daman'],
    'cpi':[9.63,8.9,9.43]
}

In [ ]:
df=pd.DataFrame(dict)
df

     name     place   cpi
0   bhanu      etah  9.63
1    ramu  warangal  8.90
2  vishnu     daman  9.43

In [ ]:
#sorting the data frame by cpi
df.sort_values(by='cpi',ascending='True')

     name     place   cpi
0   bhanu      etah  9.63
1    ramu  warangal  8.90
2  vishnu     daman  9.43