In [2]:
#HANDLING DATE AND TIME IN OUR DATAFRAME
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df=pd.read_csv('/content/dates.csv')
df

,Date,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
0,2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
1,2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2,2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
3,2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx
4,2018-10-27 17:01:36,972567b2-1b0e-437c-9e82-fef8078d6438,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,NaN,NaN,2018-10-27-170136.gpx
5,2018-10-19 17:52:32,fe2cb3fc-6330-40fa-8a92-0f86f4e72282,Running,NaN,10.29,59:18,5:46,10.41,764.0,133,155.0,NaN,NaN,2018-10-19-175232.gpx
6,2018-10-14 17:28:56,96acedc9-d3d5-4aac-8df4-f549a6418c1d,Running,NaN,12.93,1:10:16,5:26,11.04,953.0,159,158.0,NaN,NaN,2018-10-14-172856.gpx
7,2018-10-12 17:41:58,3c91092b-e6f3-4565-b540-6b6537358006,Running,NaN,12.31,1:09:26,5:38,10.64,903.0,134,157.0,NaN,NaN,2018-10-12-174158.gpx

In [11]:
df.shape    #to get the dimensions of data

(8, 14)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8 non-null      object
 1   Activity Id               8 non-null      object
 2   Type                      8 non-null      object
 3   Route Name                0 non-null      float64
 4   Distance (km)             8 non-null      float64
 5   Duration                  8 non-null      object
 6   Average Pace              8 non-null      object
 7   Average Speed (km/h)      8 non-null      float64
 8   Calories Burned           8 non-null      float64
 9   Climb (m)                 8 non-null      int64
 10  Average Heart Rate (bpm)  8 non-null      float64
 11  Friend's Tagged           0 non-null      float64
 12  Notes                     0 non-null      float64
 13  GPX File                  8 non-null      object
dtypes: float64(7), int64(1), object(6)
memory usage: 1.0+ KB

In [ ]:
df.loc[0,'Date'].day_name()   #this gives an error that means date is not in correct format
                              #it is just in the form of a string

In [14]:
#to convert it to date
#PARSING DATE AND TIME
df['Date']=pd.to_datetime(df['Date'],format="%Y-%m-%d %H:%M:%S")

In [15]:
df['Date']

0   2018-11-11 14:05:12
1   2018-11-09 15:02:35
2   2018-11-04 16:05:00
3   2018-11-01 14:03:58
4   2018-10-27 17:01:36
5   2018-10-19 17:52:32
6   2018-10-14 17:28:56
7   2018-10-12 17:41:58
Name: Date, dtype: datetime64[ns]

In [16]:
df.loc[0,'Date'].day_name()   #that ismplies now it is in proper format

'Sunday'

In [17]:
df.info()   #here also we can see its type is date time

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8 non-null      datetime64[ns]
 1   Activity Id               8 non-null      object
 2   Type                      8 non-null      object
 3   Route Name                0 non-null      float64
 4   Distance (km)             8 non-null      float64
 5   Duration                  8 non-null      object
 6   Average Pace              8 non-null      object
 7   Average Speed (km/h)      8 non-null      float64
 8   Calories Burned           8 non-null      float64
 9   Climb (m)                 8 non-null      int64
 10  Average Heart Rate (bpm)  8 non-null      float64
 11  Friend's Tagged           0 non-null      float64
 12  Notes                     0 non-null      float64
 13  GPX File                  8 non-null      object
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 1.0+ KB

In [19]:
#now we will learn a method to do all this stuff while loeading the data only
def d_parse(x):
  pd.to_datetime(x,format="%Y-%m-%d %H:%M:%S")
  return x

df2=pd.read_csv('/content/dates.csv',parse_dates=['Date'], date_parser=d_parse)

#first argument of parse_dates is the list of columnname of all the columns that we want to parse
#then we srite date_parser and set that equal to the function that we want to use for parsing the dtaes

In [20]:
df2.head()

,Date,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
0,2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
1,2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2,2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
3,2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx
4,2018-10-27 17:01:36,972567b2-1b0e-437c-9e82-fef8078d6438,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,NaN,NaN,2018-10-27-170136.gpx

In [21]:
df2.info()    #now we are getting it as datetime format only

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8 non-null      datetime64[ns]
 1   Activity Id               8 non-null      object
 2   Type                      8 non-null      object
 3   Route Name                0 non-null      float64
 4   Distance (km)             8 non-null      float64
 5   Duration                  8 non-null      object
 6   Average Pace              8 non-null      object
 7   Average Speed (km/h)      8 non-null      float64
 8   Calories Burned           8 non-null      float64
 9   Climb (m)                 8 non-null      int64
 10  Average Heart Rate (bpm)  8 non-null      float64
 11  Friend's Tagged           0 non-null      float64
 12  Notes                     0 non-null      float64
 13  GPX File                  8 non-null      object
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 1.0+ KB

In [27]:
#if we want to know the name of all date column then we can do like it--
#NAIVE  APPROACH
for date in df2['Date']:
  print(date.day_name())

Sunday
Friday
Sunday
Thursday
Saturday
Friday
Sunday
Friday

In [28]:
#EFFICIENT SOLUTION
df2['Date'].dt.day_name()   #dt is like str from a series to find all the date and time we use this

0      Sunday
1      Friday
2      Sunday
3    Thursday
4    Saturday
5      Friday
6      Sunday
7      Friday
Name: Date, dtype: object

In [29]:
#to access the earliest and last date of a data frame
df2['Date'].min()

Timestamp('2018-10-12 17:41:58')

In [30]:
df2['Date'].max()

Timestamp('2018-11-11 14:05:12')

In [32]:
#to get the amount of time in which a data is taken
df2['Date'].max()-df2['Date'].min()

Timedelta('29 days 20:23:14')

In [44]:
#FILTERING THE DATA ON THE BASIS OF DATES
filt = (df2['Date'] > '2017')

In [45]:
df2.loc[filt]   #this will only give dates after 2017

,Date,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
0,2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
1,2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2,2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
3,2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx
4,2018-10-27 17:01:36,972567b2-1b0e-437c-9e82-fef8078d6438,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,NaN,NaN,2018-10-27-170136.gpx
5,2018-10-19 17:52:32,fe2cb3fc-6330-40fa-8a92-0f86f4e72282,Running,NaN,10.29,59:18,5:46,10.41,764.0,133,155.0,NaN,NaN,2018-10-19-175232.gpx
6,2018-10-14 17:28:56,96acedc9-d3d5-4aac-8df4-f549a6418c1d,Running,NaN,12.93,1:10:16,5:26,11.04,953.0,159,158.0,NaN,NaN,2018-10-14-172856.gpx
7,2018-10-12 17:41:58,3c91092b-e6f3-4565-b540-6b6537358006,Running,NaN,12.31,1:09:26,5:38,10.64,903.0,134,157.0,NaN,NaN,2018-10-12-174158.gpx

In [49]:
#to do it more precise we use pd.to_datetime method
#we'll filter all the dates of november from the dataset
filt = ((df2['Date']> pd.to_datetime('2018-10-31')) & (df2['Date']< pd.to_datetime('2018-12-01')))
df2[filt]

,Date,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
0,2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
1,2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2,2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
3,2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx

In [52]:
#in this kind of data it is good to set date as the index of df
df2.set_index("Date",inplace=True)

In [53]:
#now for accessing data of 2018
df2['2018']

<ipython-input-53-ff3d36ca1ad0>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df2['2018']

,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
Date,,,,,,,,,,,,,
2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx
2018-10-27 17:01:36,972567b2-1b0e-437c-9e82-fef8078d6438,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,NaN,NaN,2018-10-27-170136.gpx
2018-10-19 17:52:32,fe2cb3fc-6330-40fa-8a92-0f86f4e72282,Running,NaN,10.29,59:18,5:46,10.41,764.0,133,155.0,NaN,NaN,2018-10-19-175232.gpx
2018-10-14 17:28:56,96acedc9-d3d5-4aac-8df4-f549a6418c1d,Running,NaN,12.93,1:10:16,5:26,11.04,953.0,159,158.0,NaN,NaN,2018-10-14-172856.gpx
2018-10-12 17:41:58,3c91092b-e6f3-4565-b540-6b6537358006,Running,NaN,12.31,1:09:26,5:38,10.64,903.0,134,157.0,NaN,NaN,2018-10-12-174158.gpx

In [54]:
#to get the data for nov
df2['2018-11-01':'2018-11-30']

<ipython-input-54-2e29333d7e76>:2: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df2['2018-11-01':'2018-11-30']

,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
Date,,,,,,,,,,,,,
2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx

In [56]:
#now we can easily find the mean of distance that he ran in november
df2['2018-11-01':'2018-11-30']['Distance (km)'].mean()

<ipython-input-56-728eb5a0ed38>:2: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df2['2018-11-01':'2018-11-30']['Distance (km)'].mean()

12.317499999999999

In [58]:
#RESAMPLING
#suppose our data is distributed on the hourly basis or on monthly basis
#we want to change its distribution period for it we can use resampling

#this piece of code gives the max value of distance on monthly basis
#in resample funcion we have a lot of argument values M is for month
df2['Distance (km)'].resample('M').max()

Date
2018-10-31    13.02
2018-11-30    13.01
Freq: M, Name: Distance (km), dtype: float64

In [61]:
 #here we resample only one column but we can use this method on the complete dataframe also
 df2.resample('M').mean()

<ipython-input-61-35cca541ede0>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2.resample('M').mean()

,Route Name,Distance (km),Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes
Date,,,,,,,,
2018-10-31,NaN,12.1375,10.7050,896.75,149.0,156.00,NaN,NaN
2018-11-30,NaN,12.3175,10.4775,913.75,159.5,157.75,NaN,NaN

In [63]:
#now suppose we want to find total distacnce, total calories burned, but avg speed, avg heart rate
df2.resample('M').agg({'Distance (km)':'sum','Average Speed (km/h)':'mean','Calories Burned':'mean',})

            Distance (km)  Average Speed (km/h)  Calories Burned
Date
2018-10-31          48.55               10.7050           896.75
2018-11-30          49.27               10.4775           913.75